.btn {
  background-color: green;
  font-family: 'Permanent Marker', cursive;
  color: black;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  padding: 4px 17px;
  margin-left: 7px;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn-close {
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 11px;
}

.btn-close:hover {
  background-color: gainsboro;
}

.small-modal-window-title .btn-close:hover{
  background-color: darkgray;
}

.btn-menu {
  display: inline-block;
  padding: 5px 9px;
  border-radius: 3px;
  position: absolute;
  top: 6px;
  right: 10px;
}

.btn-menu:hover {
  background-color: darkgray;
}

.btn-menu:hover ~ .small-modal-window-container {
  display: block;
}

.btn-angle-right {
  padding: 5px 8px 5px 10px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.btn-angle-left {
  padding: 5px 10px 5px 8px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 10px;
  cursor: pointer;
}

.btn-angle-right:hover {
  background-color: darkgray;
}

.btn-angle-left:hover {
  background-color: darkgray;
}