.card {
  margin: 5px;
  border: 2px solid transparent;
  border-radius: 5px;
  border-bottom: 2px solid darkgray;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
}

.card-title {
  font-size: 16px;
  color: black;
  margin-left: 10px;
  padding: 10px 0;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.importance {
  height: 15px;
  width: 15px;
  position: absolute;
  right: 5px;
  top: 10px;
  background-color: red;
  border-radius: 3px;
}

.card-main-info {
  display: flex;
  justify-content: space-between;
}

.todo-list {
  position: relative;
  box-sizing: border-box;
  padding: 0px 35px 0px 3px;
  border-radius: 4px;
  color: black;
}

.todo-list-title {
  position: absolute;
  top: 2px;
  right: 4px;
  font-family: 'Permanent Marker', cursive;
  font-size: 16px;
}

.date {
  color: black;
  margin-left: 10px;
}

.date-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 16px;
  margin-left: 7px;
}

.card-modal {
  position: absolute;
  top: 200px;
  right: calc(50% - 300px);
  width: 600px;
  color: black;
  background-color: white;
  border-radius: 5px;
}

.card-modal-name {
  display: flex;
  justify-content: space-between;
}

input.card-name {
  width: 500px;
  text-indent: 10px;
  margin: 10px 0;
  border: 2px solid transparent;
  border-radius: 5px;
  color: black;
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;
}

.card-name-edit {
  margin-top: 13px;
  margin-left: 15px;
}

.card-name-close {
  margin-top: 19px;
  margin-right: 15px;
  cursor: pointer;
}

.card-modal-list-name {
  font-size: 14px;
  color: darkgray;
  text-align: left;
  margin-left: 65px;
  margin-bottom: 50px;
}

.card-description {
  display: flex;
  justify-content: start;
}

.description {
  margin-left: 15px;
}

.card-description-title {
  font-size: 20px;
  margin-left: 38px;
  padding-top: 5px;
}

.description-text {
  font-size: 14px;
  color: darkgray;
  text-align: left;
  margin-left: 65px;
  margin-top: 10px;
  margin-bottom: 50px;
  cursor: pointer;
}

textarea.description-textarea {
  display: block;
  resize: none;
  margin-left: 65px;
  border: 2px solid blue;
  border-radius: 5px;
  width: 485px;
  height: 60px;
  text-indent: 10px;
  font-family: 'Permanent Marker', cursive;
  font-size: 14px;
  color: darkgray;
  margin-bottom: 10px;
}

.textarea-close {
  cursor: pointer;
  margin-top: 5px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-left: 65px;
  margin-right: 55px;
}

.check-list {
  display: flex;
}

.check {
  margin-left: 15px;
}

.check-list-title {
  margin-left: 20px;
  margin-right: 143px;
  padding-top: 3px;
  font-size: 20px;
  cursor: pointer;
}

.check-list-btn {
  background-color: darkgray;
  font-family: 'Permanent Marker', cursive;
  color: black;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  padding: 4px 17px;
  margin-left: 7px;
  margin-bottom: 10px;
  cursor: pointer;
}

.percent-completion {
  text-align: start;
}

.percent-completion-num {
  margin-left: 15px;
  font-size: 14px;
  color: darkgray;
}

.percent {
  color: darkgray;
}

.progress-bar {
  display: inline-block;
  margin-left: 14px;
  height: 10px;
  width: 525px;
  background-color: darkgray;
  border-radius: 5px;
}

.checkboxes {
  text-align: start;
  margin: 15px 15px 15px 11px;
}

.box{
  margin-right: 30px;
  height: 17px;
  width: 17px;
  position: relative;
  top: 4px;
}

.box-text {
  color: darkgray;
  padding-bottom: 10px;
  padding-right: 15px;
  border-radius: 5px;
  position: relative;
}

.box-text:hover {
  background-color: gainsboro;
}

.points {
  position: absolute;
  top: 10px;
  right: 15px;
  display: none;
  cursor: pointer;
}

.box-text:hover .points {
  display: block;
}

.btn-pos {
  margin-right: 370px;
  margin-bottom: 20px;
}

.data-picker {
  display: flex;
  justify-content: start;
}

.clock {
  margin-left: 15px;
  cursor: pointer;
}

.data-picker-title {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 3px;
  cursor: pointer;
}




