.create-new-list {
  width: 170px;
  font-size: 20px;
  position: relative;
  display: inline-block;
  padding: 10px 65px 12px 40px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 5px;
  margin-right: 15px;
  cursor: pointer;
}

.plus {
  font-size: 30px;
  position: absolute;
  top: 2px;
  left: 14px;
}

.create-new-list:hover .small-modal-window-container {
  display: block;
}

.create-new-list:hover {
    background-color: rgba(0,0,0,0.6);
}

input.new-list-name {
  text-indent: 10px;
  margin: 10px 0 10px 5px;
  border: 2px solid blue;
  border-radius: 5px;
  height: 28px;
  width: 260px;
  color: black;
  font-size: 16px;
  font-family: 'Permanent Marker', cursive;
}

.create-new-list-btn-container {
  position: relative;
  cursor: initial;
}
