.list-container {
  box-sizing: border-box;
  font-size: 20px;
  width: 275px;
  display: inline-block;
  position: relative;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  margin-right: 15px;
  cursor: pointer;
}

.list-name{
  display: inline-block;
  margin-bottom: 10px;
}

.add-card {
  font-size: 16px;
  color: darkgray;
  position: relative;
  padding: 10px 0 12px 20px;
  border-radius: 5px;
}

.add-card .plus {
  font-size: 22px;
  top: 6px;
  left: 0;
}

.add-card:hover {
  background-color: darkgray;
  color: gainsboro;
  text-decoration: underline;
}