.main-container {
  font-family: 'Permanent Marker', cursive;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/main-bg.jpg");
  background-size: cover;
  background-position: 50% 50%;
  text-align: center;
  color: gainsboro;
}
