.small-modal-window-container {
  color: black;
  font-size: 16px;
  width: 275px;
  background-color: darkgray;
  border-radius: 5px;
  position: absolute;
  top: 42px;
  right:0px;
  display: none;
}

.small-modal-window-title {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 10px 0;
  position: relative;
  cursor: auto;
}

.small-modal-window-container li {
  padding: 10px 0 10px 10px;
}

.small-modal-window-container li:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.small-modal-window-move {
  position: relative;
}

.small-modal-window-sort {
  position: relative;
}

.small-modal-window-current {
  cursor: auto;
  color: gray;
}

.small-modal-window-current:hover {
  background-color: darkgray;
  cursor: auto;
  color: gray;
}